@import url("https://fonts.googleapis.com/css?family=Merriweather");
@import url("https://fonts.googleapis.com/css?family=Inconsolata");
body, html {
  margin: 0;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif; }

a {
  text-decoration: none;
  color: #95989A; }

/*---------------------------
            font
---------------------------*/
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 90%;
  margin-left: auto;
  margin-right: auto; }
  .wrapper__post {
    margin-left: 5%;
    margin-right: 5%; }
  @media screen and (max-width: 360px) {
    .wrapper__post {
      margin-left: 0%;
      margin-right: 0%; } }
  @media screen and (max-width: 640px) {
    .wrapper__post {
      margin-left: 0%;
      margin-right: 0%; } }
  @media screen and (max-width: 1200px) {
    .wrapper__post {
      margin-left: 0%;
      margin-right: 0%; } }

.site-header {
  width: 100%;
  background-color: white;
  /*&__bottom-line {
        height: 1px;
        background: $mainGrey;
        width: 90%;
        margin: 0 auto;
    }*/ }
  .site-header__menu-icon {
    position: absolute;
    width: 40px;
    height: 19px;
    top: 30px;
    left: 30px;
    z-index: 10; }
    @media screen and (max-width: 640px) {
      .site-header__menu-icon {
        top: 0px;
        left: 0px; } }
    @media screen and (max-width: 640px) {
      .site-header__menu-icon {
        top: 10px;
        left: 5px; } }
    @media screen and (max-width: 1200px) {
      .site-header__menu-icon {
        top: 15px;
        left: 10px; } }
    .site-header__menu-icon::before {
      content: "";
      position: absolute;
      background-color: black;
      width: 20px;
      height: 3px;
      top: 0;
      left: 0;
      transform-origin: 0 0;
      transition: transform .3s ease-out; }
    .site-header__menu-icon__middle {
      position: absolute;
      background-color: black;
      width: 20px;
      height: 3px;
      top: 8px;
      left: 0;
      transition: all .3s ease-out;
      transform-origin: 0 50%; }
    .site-header__menu-icon::after {
      content: "";
      position: absolute;
      background-color: black;
      width: 20px;
      height: 3px;
      top: 16px;
      left: 0;
      transform-origin: 0 100%;
      transition: transform .3s ease-out; }
  .site-header__menu-icon--close-x::before {
    transform: rotate(45deg) scaleX(1.25); }
  .site-header__menu-icon--close-x .site-header__menu-icon__middle {
    opacity: 0; }
  .site-header__menu-icon--close-x::after {
    transform: rotate(-45deg) scaleX(1.25) translateY(1px); }
  .site-header__menu-content {
    opacity: 0;
    transform: scale(1.2);
    transition: all .3s ease-out;
    position: fixed;
    z-index: -10;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%; }
    @media screen and (min-width: 640px) {
      .site-header__menu-content {
        width: 50%; } }
    @media screen and (min-width: 1200px) {
      .site-header__menu-content {
        width: 30%; } }
    .site-header__menu-content--is-visible {
      opacity: 1;
      z-index: 1;
      transform: scale(1); }
  .site-header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    width: 100%; }
  .site-header__red:hover {
    color: red; }
  .site-header__green:hover {
    color: green; }
  .site-header__listItem {
    font-family: 'Inconsolata', monospace;
    font-size: 1.5rem;
    list-style-type: none;
    padding: 1rem; }
    @media screen and (max-width: 640px) {
      .site-header__listItem {
        display: none; } }
    @media screen and (min-width: 640px) {
      .site-header__listItem {
        font-size: 1rem; } }
    @media screen and (min-width: 1200px) {
      .site-header__listItem {
        font-size: 1.2rem; } }
    .site-header__listItem a {
      color: #95989A; }
  .site-header__logo {
    margin: 10px auto; }
  .site-header__logo-header-text {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-style: italic;
    margin: 0;
    -webkit-margin-after: 0 !important;
    color: #95989A;
    text-align: center; }
    @media screen and (min-width: 320px) {
      .site-header__logo-header-text {
        font-size: 1rem; } }
    @media screen and (min-width: 640px) {
      .site-header__logo-header-text {
        font-size: 1.5rem; } }
    @media screen and (min-width: 1200px) {
      .site-header__logo-header-text {
        font-size: 2rem; } }
  .site-header__logo-line {
    width: 100%;
    height: 1.4px;
    background-color: #95989A; }
    @media screen and (max-width: 640px) {
      .site-header__logo-line {
        display: none; } }
  .site-header__logo-caption {
    font-family: "Book Antiqua", 'Merriweather', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1rem;
    text-align: center;
    color: #95989A;
    padding-top: 2px;
    -webkit-margin-before: 0 !important;
    -webkit-margin-after: 0 !important; }
    @media screen and (max-width: 1200px) {
      .site-header__logo-caption {
        font-size: 0.8rem;
        padding-top: 3px; } }
  .site-header__blog-post-icon {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 20px;
    right: 20px;
    z-index: 10;
    transform: rotate(10deg) scaleX(1.25); }
    .site-header__blog-post-icon--rotate {
      transform: rotate(40deg) scaleX(1.25); }

    @media screen and (max-width: 640px) {
      .site-header__blog-post-icon {
        top: 5px;
        right: 0px; } }
    @media screen and (max-width: 640px) {
      .site-header__blog-post-icon {
        top: 10px;
        right: 5px;
        font-size: 12px; } }
    @media screen and (max-width: 1200px) {
      .site-header__blog-post-icon {
        top: 15px;
        right: 10px;
        font-size: 14px; } }

  .site-header__blog-post-content {
    transform: scale(1.2);
    transition: all .3s ease-out;
    opacity: 0;
    z-index: -10;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center; }
    .site-header__blog-post-content--is-visible {
      opacity: 1;
      z-index: 1;
      transform: scale(1); }
      @media screen and (min-width: 640px) {
        .site-header__blog-post-content--is-visible {
          width: 50%; } }
      @media screen and (min-width: 1200px) {
        .site-header__blog-post-content--is-visible {
          width: 30%; } }
  .site-header__blog-post-form {
    flex-direction: column;
    width: 60%; }
    .site-header__blog-post-form--name {
      height: 40px;
      width: 100%;
      margin-bottom: 30px; }
    .site-header__blog-post-form--image {
      height: 40px;
      width: 100%;
      margin-bottom: 30px; }
    .site-header__blog-post-form--text {
      height: 140px;
      width: 100%; }
  .site-header__form {
    width: 70%; }
  .site-header__button {
    border-style: none;
    text-decoration: none;
    color: #95989A;
    font-size: 1.2rem;
    font-family: 'Inconsolata', monospace;
    background-color: transparent; }
  .site-header__button:hover {
    color: green; }
  .site-header__jumbotron {
    background: url("../images/forest.png") no-repeat center center;
    width: 100%;
    height: 768px;
    display: inline-block;
    top: 0;
    z-index: -1; }

.post-container {
  display: block;
  max-width: 1200px;
  min-height: 100vh;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto; }
  .post-container__header {
    text-align: center;
    padding: 20px 0;
    font-size: 2rem;
    margin: 0; }
  .post-container__figure {
    width: 100%;
    margin: 0 auto; }
  .post-container__figure img {
    max-width: 1080px;
    display: block;
    margin: 0 auto; }
  .post-container__image-text {
    font-style: italic; }
  .post-container__image {
    max-width: 100%;
    height: auto;
    /*width: 1013px;
    height: 500px;*/
    margin-left: auto;
    margin-right: auto; }
  .post-container__like-button {
    background: url(../images/like.svg) no-repeat;
    display: inline-block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-right: 1em;
    margin-top: 10px;
    border: none; }
  .post-container__text {
    text-align: center;
    padding: 20px 30px;
    margin: 0; }
  .post-container__bottom-line {
    border-bottom: 2px solid #c0c0c0;
    width: 85%;
    margin: 15px auto; }
  @media screen and (min-width: 320px) {
    .post-container__bottom-line {
      width: 100%; } }
  @media screen and (min-width: 640px) {
    .post-container__bottom-line {
      width: 85%; } }
  .post-container__buttonDelete {
    background-color: transparent;
    cursor: pointer;
    border-style: none;
    color: #000;
    font-family: Arial;
    font-size: 26px;
    padding: 8px 18px;
    text-decoration: none; }
  .post-container__buttonDelete:hover {
    color: red; }
  .post-container__buttonEdit {
    background-color: transparent;
    cursor: pointer;
    border-style: none;
    color: #000;
    font-family: Arial;
    font-size: 26px;
    padding: 8px 18px;
    text-decoration: none; }
  .post-container__buttonEdit:hover {
    color: green; }
  .post-container__like-con {
    margin-left: 5em;
    display: flex;
    flex-direction: row; }
  @media screen and (min-width: 320px) {
    .post-container__like-con {
      margin-left: 5.5%; } }
  @media screen and (min-width: 640px) {
    .post-container__like-con {
      margin-left: 5em; } }
  @media screen and (min-width: 1200px) {
    .post-container__like-con {
      margin-left: 5em; } }
  .post-container__postHeader-con {
    display: block;
    width: auto;
    margin: 0 6%;
    overflow: hidden; }
  @media screen and (min-width: 320px) {
    .post-container__postHeader-con {
      margin: 0 2%; } }
  @media screen and (min-width: 640px) {
    .post-container__postHeader-con {
      margin: 0 6%; } }
  @media screen and (min-width: 1200px) {
    .post-container__postHeader-con {
      margin: 0 6%; } }
  .post-container__postHeader-p {
    font-size: 14px;
    padding: 8px 18px; }
  .post-container__postHeader-con p {
    font-size: 14px; }
  @media screen and (min-width: 320px) {
    .post-container__figure img {
      max-width: 100%; } }
  @media screen and (min-width: 640px) {
    .post-container__figure img {
      max-width: 640px; } }
  @media screen and (min-width: 1200px) {
    .post-container__figure img {
      max-width: 916px; } }

.edit-page__form {
  width: 100%; }

.edit-page__container {
  width: 40%;
  margin: 0 auto; }

.edit-page__container2 {
  width: 80%;
  margin: 0 auto; }

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; }

textarea {
  width: 100%;
  height: 100px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; }

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer; }

input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; }

input[type=url] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; }

input[type=submit]:hover {
  background-color: #45a049; }

.signup-form {
  text-align: center; }
