@import url("https://fonts.googleapis.com/css?family=Merriweather");
@import url("https://fonts.googleapis.com/css?family=Inconsolata");
body, html {
  margin: 0;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif; }

/*---------------------------
            font
---------------------------*/
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 90%;
  margin-left: auto;
  margin-right: auto; }

.site-header {
  width: 100%; }
  .site-header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-padding-start: 0px !important;
    width: 100%; }
  .site-header__listItem {
    font-family: 'Inconsolata', monospace;
    font-size: 1.5rem;
    list-style-type: none;
    padding: 1rem; }
    @media screen and (max-width: 640px) {
      .site-header__listItem {
        font-size: 1rem;
        padding: 0.5rem; } }
  .site-header__logo {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-style: italic;
    margin-top: 15px;
    -webkit-margin-after: 0 !important;
    color: red; }
    @media screen and (min-width: 320px) {
      .site-header__logo {
        font-size: 1rem; } }
    @media screen and (min-width: 640px) {
      .site-header__logo {
        font-size: 2rem; } }
    @media screen and (min-width: 1200px) {
      .site-header__logo {
        font-size: 3rem; } }
  .site-header__bottom-line {
    height: 1px;
    background: #95989A;
    width: 90%;
    margin: 0 auto; }
    @media screen and (min-width: 320px) {
      .site-header__bottom-line {
        display: none; } }
    @media screen and (min-width: 640px) {
      .site-header__bottom-line {
        display: block; } }
  .site-header__logo-caption {
    font-family: "Book Antiqua", 'Merriweather', sans-serif;
    font-weight: 400;
    font-style: italic;
    color: #95989A;
    -webkit-margin-before: 0 !important;
    -webkit-margin-after: 0 !important; }
    @media screen and (min-width: 320px) {
      .site-header__logo-caption {
        display: none; } }
    @media screen and (min-width: 640px) {
      .site-header__logo-caption {
        display: block;
        font-size: 1rem; } }
  .site-header__jumbotron {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    z-index: -1; }
    .site-header__jumbotron img {
      display: block;
      top: -50; }
