* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

header {
  width: 100%;
  height: 60px;
  background-color: salmon;
}

nav ul {
  float: right;
  margin-top: 20px;
  margin-right: 60px;
}

nav ul li {
  list-style: none;
  float: left;
  margin-right: 20px;
}
nav ul li a {
  color: white;
  font-family: Arial;
  font-size: 20px;
}

nav ul form {
  float: left;
}

nav ul form input {
  float: left;
  border: none;
  margin-right: 6px;
  padding: 5px;
  background-color: white;
}

nav ul form button {
  float: left;
  border: none;
  margin-right: 20px;
  background-color: white;
  color: black;
  padding: 3px;
  font-size: 16px;
}

.post-container {
  margin-left: auto;
  margin-right: auto;
}

.post-container__post {
  width: 20%;
  margin: 40px auto;

}
