
body, html{
  margin: 0;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}
a {
  text-decoration: none;
  color: $mainGrey;
}
/*---------------------------
            font
---------------------------*/
@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
