.post-container {
  display: block;
  max-width: 1200px;
  min-height: 100vh;
  background-color: #f0f0f0;
  margin-left: auto;
  margin-right: auto;

  &__header {
    text-align: center;
    padding: 20px 0;
    font-size: 2rem;
    margin: 0;
  }

  &__figure {
    margin: 0;

  }
  &__figure img {
    margin: 0 25%;

  }

  &__image-text {
    font-style: italic;
  }

  &__image {
    max-width: 100%;
    height: auto;
    /*width: 1013px;
    height: 500px;*/
    margin-left: auto;
    margin-right: auto;
  }

  &__like-button {
    background:url(../images/like.svg) no-repeat;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-top: 10px;
    border: none;
  }

  &__text {
    text-align: center;
    padding: 20px 30px;
    margin: 0;
  }

  &__bottom-line {
    border-bottom: 2px solid #c0c0c0;
    width: 80%;
    margin: 15px auto;
  }
  &__buttonDelete {
    background-color:transparent;
    cursor:pointer;
    border-style: none;
    color:#000;
    font-family:Arial;
    font-size:14px;
    padding:8px 18px;
    text-decoration:none;
  }  
  &__buttonDelete:hover {
    color: red;
  }
  &__buttonEdit {
    background-color:transparent;
    cursor:pointer;
    border-style: none;
    color:#000;
    font-family:Arial;
    font-size:14px;
    padding:8px 18px;
    text-decoration:none;
}  
&__buttonEdit:hover {
    color: green;
}
}
