  .post-container {
  display: block;
  max-width: 1200px;
  min-height: 100vh;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;

  &__header {
    text-align: center;
    padding: 20px 0;
    font-size: 2rem;
    margin: 0;
  }

  &__figure {
    width: 100%;
    margin: 0 auto;

  }
  &__figure img {
    max-width: 1080px;
    display: block;
    margin: 0 auto;

  }

  &__image-text {
    font-style: italic;
  }

  &__image {
    max-width: 100%;
    height: auto;
    /*width: 1013px;
    height: 500px;*/
    margin-left: auto;
    margin-right: auto;
  }

  &__like-button {
    background:url(../images/like.svg) no-repeat;
    display: inline-block; 
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-right: 1em;
    margin-top: 10px;
    border: none;
  }

  &__text {
    text-align: center;
    padding: 20px 30px;
    margin: 0;
  }

  &__bottom-line {
    border-bottom: 2px solid #c0c0c0;
    width: 85%;
    margin: 15px auto;
  }
  &__buttonDelete {
    background-color:transparent;
    cursor:pointer;
    border-style: none;
    color:#000;
    font-family:Arial;
    font-size:26px;
    padding:8px 18px;
    text-decoration:none;
  }  
  &__buttonDelete:hover {
    color: red;
  }
  &__buttonEdit {
    background-color:transparent;
    cursor:pointer;
    border-style: none;
    color:#000;
    font-family:Arial;
    font-size:26px;
    padding:8px 18px;
    text-decoration:none;
}  
&__buttonEdit:hover {
    color: green;
}
&__like-con {
  margin-left: 5em;
  display: flex;
  flex-direction: row;
}
&__postHeader-con {
  display: block;
  width: 100%;
}
&__postHeader-p{
  font-size: 14px;
  margin: 0 0 0 6%;
  padding: 8px 18px;
}
&__postHeader-con p{
  font-size: 14px;
}
@media screen and (min-width: 320px) {
 &__figure img {
  max-width: 100%;
  }}
@media screen and (min-width: 640px) {
&__figure img {
  max-width: 640px;
  }}
@media screen and (min-width: 1200px) {
&__figure img {
  max-width: 1200px;
  }}
}
