.site-header {
  width: 100%;

    &__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-padding-start: 0px !important;
    width: 100%;
  }

    &__listItem {
      font-family: 'Inconsolata', monospace;
      font-size: 1.5rem;
      list-style-type: none;
      padding: 1rem;

      @media screen and (min-width: $atSmall) {
          display: none;

      }
      @media screen and (max-width: $atMedium) {
          font-size: 1rem;
          padding: 0.5rem;
      }

    }
    &__logo{
      font-family: 'Merriweather', serif;
      font-weight: 700;
      font-style: italic;
      margin-top: 15px;
      -webkit-margin-after: 0 !important;
      color: $mainGrey;

      @media screen and (min-width: $atSmall) {
          font-size: 1rem;
      }
      @media screen and (min-width: $atMedium) {
          font-size: 2rem;
      }
      @media screen and (min-width: $atLarge) {
          font-size: 3rem;
      }
    }
    &__bottom-line {
      height: 1px;
      background: $mainGrey;
      width: 90%;
      margin: 0 auto;
      @media screen and (min-width: $atSmall) {
          display: none;
      }
      @media screen and (min-width: $atMedium) {
          display: block;
      }
    }
    &__logo-caption{
      font-family: "Book Antiqua", 'Merriweather', sans-serif;
      font-weight: 400;
      font-style: italic;
      color: $mainGrey;
      -webkit-margin-before: 0 !important;
      -webkit-margin-after: 0 !important;
      @media screen and (min-width: $atSmall) {
          display: none;
      }
      @media screen and (min-width: $atMedium) {
        display: block;
        font-size: 1rem;
      }
    }

    &__jumbotron {
      width: 100%;
      height: 100vh;
      background-repeat: no-repeat;
      position: absolute;
      top: 0;
      z-index: -1;

      img {
          display: block;
          top: -50;
          }
        }
    }
