.site-header {
  width: 100%;
  background-color: rgba(255, 255, 255, 1);

    &__menu-icon {
      position: absolute;
      width: 40px;
      height: 19px;
      top: 30px;
      left: 30px;
      z-index: 10;
      @media screen and (max-width: $atMedium) {
          top: 0px;
          left: 0px;
      }
      @media screen and (max-width: $atMedium) {
          top: 10px;
          left: 5px;
      }
      @media screen and (max-width: $atLarge) {
          top: 15px;
          left: 10px;
      }

        &::before {
          content: "";
          position: absolute;
          background-color: black;
          width: 20px;
          height: 3px;
          top: 0;
          left: 0;
          transform-origin: 0 0;
          transition: transform .3s ease-out;
        }

        &__middle {
          position: absolute;
          background-color: black;
          width: 20px;
          height: 3px;
          top: 8px;
          left: 0;
          transition: all .3s ease-out;
          transform-origin: 0 50%;
        }

        &::after {
          content: "";
          position: absolute;
          background-color: black;
          width: 20px;
          height: 3px;
          top: 16px;
          left: 0;
          transform-origin: 0 100%;
          transition: transform .3s ease-out;
        }
    }

    &__menu-icon--close-x {
      &::before {
        transform: rotate(45deg) scaleX(1.25);
      }

      .site-header__menu-icon__middle {
        opacity: 0;
      }

      &::after {
        transform: rotate(-45deg) scaleX(1.25) translateY(1px);
      }
    }


    &__menu-content {
      opacity: 0;
      transform: scale(1.2);
      transition: all .3s ease-out;
      position: fixed;
      z-index: -10;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #FFF;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100%;
      @media screen and (min-width: $atMedium) {
          width: 50%;
      }
      @media screen and (min-width: $atLarge) {
          width: 30%;
      }
      &--is-visible {
        opacity: 1;
        z-index: 1;
        transform: scale(1);
      }
    }

    &__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  &__red:hover {
    color: red;
  }
  &__green:hover {
    color: green;
  }
  &__listItem {
    font-family: 'Inconsolata', monospace;
    font-size: 1.5rem;
    list-style-type: none;
    padding: 1rem;
    @media screen and (max-width: $atMedium) {
        display: none;
    }
    @media screen and (min-width: $atMedium) {
        font-size: 1rem;
    }
    @media screen and (min-width: $atLarge) {
        font-size: 1.2rem;
    }
    a {
      color: $mainGrey;
    }
  }

    &__logo {
      margin: 10px auto;
    }
    &__logo-header-text{
      font-family: 'Merriweather', serif;
      font-weight: 700;
      font-style: italic;
      margin: 0;
      -webkit-margin-after: 0 !important;
      color: $mainGrey;
      text-align: center;

      @media screen and (min-width: $atSmall) {
          font-size: 1rem;

      }
      @media screen and (min-width: $atMedium) {
          font-size: 1.5rem;
      }
      @media screen and (min-width: $atLarge) {
          font-size: 2rem;
      }
    }

    &__logo-line {
      width: 100%;
      height: 1.4px;
      background-color: $mainGrey;
      @media screen and (max-width: $atMedium) {
          display: none;
      }
    }

    &__logo-caption{
      font-family: "Book Antiqua", 'Merriweather', sans-serif;
      font-weight: 400;
      font-style: italic;
      font-size: 1rem;
      text-align: center;
      color: $mainGrey;
      padding-top: 2px;
      -webkit-margin-before: 0 !important;
      -webkit-margin-after: 0 !important;
      @media screen and (max-width: $atLarge) {
        font-size: 0.8rem;
        padding-top: 3px;

      }
    }

    &__blog-post-icon {
      position: absolute;
      height: 30px;
      width: 30px;
      top: 30px;
      right: 30px;
      z-index: 10;
      transform: rotate(10deg) scaleX(1.25);
      &--rotate {
      transform: rotate(40deg) scaleX(1.25);
      }
      @media screen and (max-width: $atMedium) {
          top: 5px;
          right: 0px;
      }
      @media screen and (max-width: $atMedium) {
          top: 10px;
          right: 5px;
          font-size: 12px;

      }
      @media screen and (max-width: $atLarge) {
          top: 15px;
          right: 10px;
          font-size: 14px;
      }
      }



    &__blog-post-content {
      transform: scale(1.2);
      transition: all .3s ease-out;
      opacity: 0;
      z-index: -10;
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      height: 100vh;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;

      &--is-visible {
        opacity: 1;
        z-index: 1;
        transform: scale(1);
        @media screen and (min-width: $atMedium) {
            width: 50%;
        }

        @media screen and (min-width: $atLarge) {
            width: 30%;
        }
      }
    }

    &__blog-post-form {
      flex-direction: column;
      width: 60%;

      &--name {
        height: 40px;
        width: 100%;
        margin-bottom: 30px;
      }
      &--image {
        height: 40px;
        width: 100%;
        margin-bottom: 30px;
      }
      &--text {
        height: 140px;
        width: 100%;
      }
    }
    &__form {
      width: 70%;
    }
    &__button {
      border-style: none;
      text-decoration: none;
      color: #95989A;
      font-size: 1.2rem;
      font-family: 'Inconsolata', monospace;
      background-color: transparent;
    }
    &__button:hover {
      color: green;
    }
    &__jumbotron {
      background: url("../images/forest.png") no-repeat center center;
      width: 100%;
      height: 768px;
      display: inline-block;
      top: 0;
      z-index: -1;

        }
    /*&__bottom-line {
        height: 1px;
        background: $mainGrey;
        width: 90%;
        margin: 0 auto;
    }*/
    }
