.site-header {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
    &__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-padding-start: 0px !important;
    width: 100%;
  }

    &__logo{
      font-family: 'Merriweather', serif;
      font-weight: 700;
      font-style: italic;
      margin-top: 15px;
      -webkit-margin-after: 0 !important;
      color: $mainGrey;

      @media screen and (min-width: $atSmall) {
          font-size: 1rem;
      }
      @media screen and (min-width: $atMedium) {
          font-size: 1.5rem;
      }
      @media screen and (min-width: $atLarge) {
          font-size: 2rem;
      }
    }

    &__logo-line {
      width: 100%;
      height: 1.4px;
      background-color: $mainGrey;
      @media screen and (max-width: $atMedium) {
          display: none;
      }
    }

    &__logo-caption{
      font-family: "Book Antiqua", 'Merriweather', sans-serif;
      font-weight: 400;
      font-style: italic;
      font-size: 1rem;
      color: $mainGrey;
      padding-top: 5px;
      -webkit-margin-before: 0 !important;
      -webkit-margin-after: 0 !important;
      @media screen and (max-width: $atMedium) {
          display: none;
      }
      @media screen and (max-width: $atLarge) {
        font-size: 0.8rem;
        padding-top: 3px;

      }
    }

    &__listItem {
      font-family: 'Inconsolata', monospace;
      font-size: 1.5rem;
      list-style-type: none;
      padding: 1rem;

      @media screen and (max-width: $atMedium) {
          display: none;
      }
      @media screen and (min-width: $atMedium) {
          font-size: 1rem;
      }
      @media screen and (min-width: $atLarge) {
          font-size: 1.2rem;
      }
    }

    &__jumbotron {
      width: 100%;
      height: 100vh;
      background-repeat: no-repeat;
      display: inline-block;
      top: 0;
      z-index: -1;

      img {
          top: -50;
          }
        }
    /*&__bottom-line {
        height: 1px;
        background: $mainGrey;
        width: 90%;
        margin: 0 auto;
    }*/
    }
