.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  &__post {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }

}
