.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  &__post {
    margin-left: 5%;
    margin-right: 5%;
  }
@media screen and (min-width: 360px) {
  &__post {
    margin-left: 0%;
    margin-right: 0%;
  }
}
@media screen and (min-width: 640px) {
  &__post {
    margin-left: 0%;
    margin-right: 0%;
  }
}
@media screen and (min-width: 1200px) {
  &__post {
    margin-left: 0%;
    margin-right: 0%;
  }
}
}
